body{
    margin: auto;
    background-color: gainsboro;
}
.container{
    width: 1000px;
    height: auto;
    margin: auto;
}img{
    max-width: 100%;
    max-height: 100%;
}
.head{
    background-color: rgb(73, 73, 73);
}
.logo{
    float: left;
    width: 80px;
    height: 80px;
    padding: 15px
}
.search{
    float: right;
    padding: 15px;
    padding-top: 35px;
}
.clearfix{
    clear: both;
}
.nav_menu > ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.nav_menu > ul > li{
    display: inline-block;
}
.nav_menu > ul > li > a{
    color: rgb(246, 149, 29);
    text-decoration: none;
    display: block;
    padding: 15px;
    font-family: sans-serif;
    font-size: small;
}
.nav_menu > ul > li > a:hover{
    background-color: black;
}
/**drop**/
.drop{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    z-index: 999;
    display: none;
}
.drop > li > a{
    color: rgb(246, 149, 29);
    text-decoration: none;
    display: block;
    padding: 15px;
    font-family: sans-serif;
    font-size: small;
    background-color: rgb(73, 73, 73);    
}
.drop > li > a:hover{
    background-color: black;
}
.nav_menu > ul > li:hover .drop{
    display: block;
}

/**Banner**/
.banner{
    width: 1000px;
    height: auto;
}
.banner img{
    width: 1000px;
    height: auto;
}
